@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #fff;
}

canvas {
  -ms-touch-action: none;
  touch-action: none;
}

#preview,
.fullscreen {
  width: 100%;
  height: 100%;
}
